<style>
  ul {
	position: relative;
	outline: 0;
  }
  
  ul li {
	position: relative;
	padding: 20px 10px 20px 40px;
	background: transparent;
	box-shadow: 0 1px #EEE;
  }
  
  ul li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 15px;
	bottom: 0;
	width: 10px;
	height: 10px;
	margin: auto;
	border-radius: 100%;
	background: #fff;
	display: block;
  }
  
  ul li:hover {
	background: #FAFAFA;
  }
</style>
<body onload="formLoad()" onsubmit="return validateAndGetValues()">
  <div class="new-container">
    <%= f.InputTag("Spec.Namespace", {value: "", label: "Namespace *", required: true, placeholder: "Lowercase letter, numbers, and hyphen only. Start with lowercase letter and cannot start or end with hyphen.", pattern: "^[a-z][-a-z0-9]+", title: "Lowercase letter, numbers, and hyphen only. Start with lowercase letter and cannot start or end with hyphen."}) %>
    <%= f.SelectTag("Spec.Flavor", {options: ["Small", "Medium", "Large", "OpsSight"], value: "Small", label: "Flavor"}) %>
    <%= f.InputTag("Spec.DockerRegistry", {value: "docker.io", label: "Docker Registry *", required: true, placeholder: "e.g. docker.io"}) %>
    <%= f.InputTag("Spec.DockerRepository", {value: "blackducksoftware", label: "Docker Repository *", required: true, placeholder: "e.g. blackducksoftware"}) %>
    <%= f.InputTag("Spec.HubVersion", {value: "5.0.0", label: "Black Duck Version *", required: true, placeholder: "e.g. 5.0.0"}) %>
    <%= f.SelectTag("Spec.BackupSupport", {options: ["Yes", "No"], value: "Yes", label: "Backup Support", onchange: "checkBackUpSupport()"}) %>
    <div id="backupSupportId">
      <label id="backupIntervalError" hidden="hidden">Backup interval is required when Backup is enabled</label>
      <%= f.InputTag("Spec.BackupInterval", {value: "30", label: "Backup Interval", placeholder: "Required for Backup support. It should be of integer value", required: true}) %>
      <%= f.SelectTag("Spec.BackupUnit", {options: ["Minute(s)", "Hour(s)", "Day(s)", "Week(s)"], value: "Minute(s)", label: "Backup Unit", required: true}) %>
    </div>
    <%= f.SelectTag("Spec.DbPrototype", {options: hub.View.Clones, value: "empty", onchange: "checkPVC()", label: "Clone DB"}) %>
    <div id="pvcId">
      <%= f.SelectTag("Spec.PVCStorageClass", {value: "none", label: "PVC StorageClass", options: hub.View.StorageClasses}) %>
      <%= f.SelectTag("Spec.ScanType", {options: ["Artifacts", "Images", "Custom"], value: "Artifacts", label: "Scan Type", onchange: "checkScanType()"}) %>
      <%= f.InputTag("Spec.PVCClaimSize", {value: "20Gi", label: "PVC ClaimSize", placeholder: "Required for creating the Persistent Volume and Volume Claim", required: true}) %>
      <%= f.InputTag("Spec.NFSServer", {value: "", label: "NFS Server", placeholder: "Required for disabled auto provision in storage classes", required: true}) %>
    </div>
    <%= f.SelectTag("Spec.CertificateName", {value: "default", options: hub.View.CertificateNames, label: "Certificate Name", onchange: "checkNginxCertificate()"}) %>
    <div id="certificateId">
      <%= f.TextAreaTag("Spec.Certificate", {value: "", label: "Certificate"}) %>
      <%= f.TextAreaTag("Spec.CertificateKey", {value: "", label: "Certificate Key"}) %>
    </div>
    <label>Environment Variables</label>
    <ul id="environs" name="environs" contenteditable="true">
      <%= for (environ) in  hub.View.Environs { %>
        <li value="<%= environ %>"><%= environ %></li>
      <% } %>
    </ul>
    <%= f.InputTag("Spec.ImagePrefix", {value: "hub", required: true, label: "Image Prefix *", placeholder: "e.g. hub or blackduck"}) %>
    <label>Container Image Tags</label>
    <ul id="containerTags" name="containerTags" contenteditable="true">
      <%= for (containerTag) in  hub.View.ContainerTags { %>
        <li value="<%= containerTag %>"><%= containerTag %></li>
      <% } %>
    </ul>
    <select id="hub-Spec.Environs" name="Spec.Environs" multiple="multiple" hidden></select>
    <select id="hub-Spec.ImageTagMap" name="Spec.ImageTagMap" multiple="multiple" hidden></select>
    <center>
      <a href="<%= hubsPath() %>" class="btn btn-info">Back to blackduck instances</a>
      <button class="btn btn-success" role="submit">Save</button>
      <a href="" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
    </center>
    <br/>
    <br/>
  </div>
</body>
