<body onload="formLoad()" onsubmit="return validateAndGetValues()">
  <div class="new-container">
    <label style="color: red">
      <h5>* <%= hub.Status.ErrorMessage %></h5>
    </label>
    <%= f.InputTag("Spec.Namespace", {value: hub.Spec.Namespace, label: "Namespace *", required: true, placeholder: "Lowercase letter, numbers, and hyphen only. Start with lowercase letter and cannot start or end with hyphen.", pattern: "^[a-z][-a-z0-9]+", title: "Lowercase letter, numbers, and hyphen only. Start with lowercase letter and cannot start or end with hyphen."}) %>
    <%= f.SelectTag("Spec.Flavor", {options: ["Small", "Medium", "Large", "OpsSight"], value: hub.Spec.Flavor, label: "Flavor"}) %>
    <%= f.InputTag("Spec.HubVersion", {value: hub.Spec.HubVersion, label: "Black Duck Version *", required: true, placeholder: "e.g. 5.0.0"}) %>
    <%= f.SelectTag("Spec.BackupSupport", {options: ["Yes", "No"], value: hub.Spec.BackupSupport, label: "Backup Support", onchange: "checkBackUpSupport()"}) %>
    <div id="backupSupportId">
      <label id="backupIntervalError" hidden="hidden">Backup interval is required when Backup is enabled</label>
      <%= f.InputTag("Spec.BackupInterval", {value: hub.Spec.BackupInterval, label: "Backup Interval", placeholder: "Required for Backup support. It should be of integer value", required: true}) %>
      <%= f.SelectTag("Spec.BackupUnit", {options: ["Minute(s)", "Hour(s)", "Day(s)", "Week(s)"], value: hub.Spec.BackupUnit, label: "Backup Unit", required: true}) %>
    </div>
    <%= f.SelectTag("Spec.DbPrototype", {options: hub.View.Clones, value: hub.Spec.DbPrototype, onchange: "checkPVC()", label: "Clone DB"}) %>
    <div id="pvcId">
      <%= f.SelectTag("Spec.PVCStorageClass", {value: hub.Spec.PVCStorageClass, label: "PVC StorageClass", options: hub.View.StorageClasses}) %>
      <%= f.SelectTag("Spec.ScanType", {options: ["Artifacts", "Images", "Custom"], value: hub.Spec.ScanType, label: "Scan Type", onchange: "checkScanType()"}) %>
      <%= f.InputTag("Spec.PVCClaimSize", {value: hub.Spec.PVCClaimSize, label: "PVC ClaimSize", placeholder: "Required for creating the Persistent Volume and Volume Claim", required: true}) %>
      <%= f.InputTag("Spec.NFSServer", {value: hub.Spec.NFSServer, label: "NFS Server", placeholder: "Required for disabled auto provision in storage classes", required: true}) %>
    </div>
    <%= f.SelectTag("Spec.CertificateName", {value: hub.Spec.CertificateName, options: hub.View.CertificateNames, label: "Certificate Name", onchange: "checkNginxCertificate()"}) %>
    <div id="certificateId">
      <%= f.TextAreaTag("Spec.Certificate", {value: hub.Spec.Certificate, label: "Certificate"}) %>
      <%= f.TextAreaTag("Spec.CertificateKey", {value: hub.Spec.CertificateKey, label: "Certificate Key"}) %>
    </div>
    <label>Environment Variables</label>
    <ul id="environs" name="environs" contenteditable="true">
      <%= for (environ) in  hub.View.Environs { %>
        <li value="<%= environ %>"><%= environ %></li>
      <% } %>
    </ul>
    <label>Container Image Tags</label>
    <ul id="containerTags" name="containerTags" contenteditable="true">
      <%= for (containerTag) in  hub.View.ContainerTags { %>
        <li value="<%= containerTag %>"><%= containerTag %></li>
      <% } %>
    </ul>
    <select id="hub-Spec.Environs" name="Spec.Environs" multiple="multiple" hidden></select>
    <select id="hub-Spec.ImageRegistries" name="Spec.ImageRegistries" multiple="multiple" hidden></select>
    <center>
      <a href="<%= hubsPath() %>" class="btn btn-info">Back to Blackduck Instances</a>
      <button class="btn btn-success" role="submit">Save</button>
      <a href="" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
    </center>
    <br/>
    <br/>
  </div>
</body>

<style>
  ul {
	position: relative;
	outline: 0;
  }
  
  ul li {
	position: relative;
	padding: 20px 10px 20px 40px;
	background: transparent;
	box-shadow: 0 1px #EEE;
  }
  
  ul li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 15px;
	bottom: 0;
	width: 10px;
	height: 10px;
	margin: auto;
	border-radius: 100%;
	background: #fff;
	display: block;
  }
  
  ul li:hover {
	background: #FAFAFA;
  }
</style>

<script>
// check during form load
function formLoad() {
  checkNginxCertificate();
  checkBackUpSupport();
  checkScanType();
  // if (document.getElementById("hub-Status.ErrorMessage").value.length > 0) {
  //   document.getElementById("hub-Status.ErrorMessage").hidden = false;
  // }
}

// set default backup values
function backupDefaultValue() {
  document.getElementById("hub-Spec.BackupInterval").required = true;
  document.getElementById("hub-Spec.BackupUnit").required = true;
  document.getElementById("hub-Spec.BackupInterval").value = "30";
  document.getElementById("hub-Spec.BackupUnit").value = "Minute(s)";
}

// set empty backup values if the backup is not supported
function backupEmptyValue() {
  document.getElementById("hub-Spec.BackupInterval").required = false;
  document.getElementById("hub-Spec.BackupUnit").required = false;
  document.getElementById("hub-Spec.BackupInterval").value = "";
  document.getElementById("hub-Spec.BackupUnit").value = "";
}

// check the backup support value, if yes, display backup interval and units
function checkBackUpSupport(){
  backupSupportId=document.getElementById("backupSupportId")
  if (document.getElementById("hub-Spec.BackupSupport").value == "No") {
    backupSupportId.style.display = 'none';
    backupEmptyValue();
  } else {
    backupSupportId.style.display = '';
    backupDefaultValue();
  }
  checkPVC();
}

// set empty certificate values if the certificate is not manual
function certificateEmptyValue() {
  document.getElementById("hub-Spec.Certificate").value = "";
  document.getElementById("hub-Spec.CertificateKey").value = "";
}

// check the nginx certificate name, if manual display certificate and certificate key
function checkNginxCertificate(){
  certificateId=document.getElementById("certificateId");
  certificate=document.getElementById("hub-Spec.Certificate");
  certificateKey=document.getElementById("hub-Spec.CertificateKey");
  if (document.getElementById("hub-Spec.CertificateName").value == "manual") {
    certificateId.style.display = '';
    certificate.style.display = '';
    certificateKey.style.display = '';
  } else {
    certificateId.style.display = 'none';
    certificate.style.display = 'none';
    certificateKey.style.display = 'none';
  }
  certificateEmptyValue();
}

// set default pvc values
function pvcDefaultValue() {
  document.getElementById("hub-Spec.PVCClaimSize").value = "20Gi";
  document.getElementById("hub-Spec.PVCStorageClass").value = "none";
  document.getElementById("hub-Spec.ScanType").value = "Artifacts";
  document.getElementById("hub-Spec.NFSServer").value = "";
  document.getElementById("hub-Spec.PVCClaimSize").required = true;
  document.getElementById("hub-Spec.NFSServer").required = true;
}

// set empty pvc values if clone or backup is not supported
function pvcEmptyValue() {
  document.getElementById("hub-Spec.PVCClaimSize").required = false;
  document.getElementById("hub-Spec.NFSServer").required = false;
  document.getElementById("hub-Spec.PVCClaimSize").value = "";
  document.getElementById("hub-Spec.PVCStorageClass").value = "";
  document.getElementById("hub-Spec.ScanType").value = "";
  document.getElementById("hub-Spec.NFSServer").value = "";
}

// check the clone DB and backup support, if both are not required, then ignore the PVC storage parameters
function checkPVC() {
  pvcId=document.getElementById("pvcId")
  if (document.getElementById("hub-Spec.BackupSupport").value == "No" && document.getElementById("hub-Spec.DbPrototype").value == "empty") {
    pvcId.style.display = 'none';
    pvcEmptyValue();
  } else {
    pvcId.style.display = '';
    pvcDefaultValue();
  }
}

// based on the scan type value, populate the default pvc claim size values
function checkScanType() {
  if (document.getElementById("hub-Spec.ScanType").value == "Custom") {
    document.getElementById("hub-Spec.PVCClaimSize").value = "10Gi" 
  } else if (document.getElementById("hub-Spec.ScanType").value == "Images") {
    document.getElementById("hub-Spec.PVCClaimSize").value = "1000Gi" 
  } else {
    document.getElementById("hub-Spec.PVCClaimSize").value = "20Gi" 
  }
}

// add or update environs and update the spec
function validateAndGetValues() {
  var environsList = document.getElementById("environs");
  var environsItems = environsList.getElementsByTagName('li'); 
  var environs = document.getElementById("hub-Spec.Environs")
  for (var i = 0; i < environsItems.length; i++) {
    var data = environsItems[i].firstChild.data;
    var opt = document.createElement('option');
    opt.text = data;
    opt.value = data;
    opt.setAttribute("selected", "selected");
    environs.add(opt);
  };

  var containersList = document.getElementById("containerTags");
  var containerItems = containersList.getElementsByTagName('li'); 
  var containerTags = document.getElementById("hub-Spec.ImageRegistries")
  for (var i = 0; i < containerItems.length; i++) {
    var data = containerItems[i].firstChild.data;
    var opt = document.createElement('option');
    opt.text = data;
    opt.value = data;
    opt.setAttribute("selected", "selected");
    containerTags.add(opt);
  };
}
</script>
