<header class="App-header">
  <img src="<%= rootPath() %>assets/images/logo.png" class="Company-logo" alt="Synopsys" />
  <section class="App-sub-header">
    <section class="Icon-wrap-header">
      <img src="<%= rootPath() %>assets/images/bars.svg" alt="" />
    </section>
    <h4>Create a Blackduck instance</h4>
  </section>
</header>
<br/>

<script>
// check during form load
function formLoad() {
  checkNginxCertificate();
}

// set default backup values
function backupDefaultValue() {
  document.getElementById("hub-Spec.BackupInterval").required = true;
  document.getElementById("hub-Spec.BackupUnit").required = true;
  document.getElementById("hub-Spec.BackupInterval").value = "30";
  document.getElementById("hub-Spec.BackupUnit").value = "Minute(s)";
}

// set empty backup values if the backup is not supported
function backupEmptyValue() {
  document.getElementById("hub-Spec.BackupInterval").required = false;
  document.getElementById("hub-Spec.BackupUnit").required = false;
  document.getElementById("hub-Spec.BackupInterval").value = "";
  document.getElementById("hub-Spec.BackupUnit").value = "";
}

// check the backup support value, if yes, display backup interval and units
function checkBackUpSupport(){
  backupSupportId=document.getElementById("backupSupportId")
  if (document.getElementById("hub-Spec.BackupSupport").value == "No") {
    backupSupportId.style.display = 'none';
    backupEmptyValue();
  } else {
    backupSupportId.style.display = '';
    backupDefaultValue();
  }
  checkPVC();
}

// set empty certificate values if the certificate is not manual
function certificateEmptyValue() {
  document.getElementById("hub-Spec.Certificate").value = "";
  document.getElementById("hub-Spec.CertificateKey").value = "";
}

// check the nginx certificate name, if manual display certificate and certificate key
function checkNginxCertificate(){
  certificateId=document.getElementById("certificateId");
  certificate=document.getElementById("hub-Spec.Certificate");
  certificateKey=document.getElementById("hub-Spec.CertificateKey");
  if (document.getElementById("hub-Spec.CertificateName").value == "manual") {
    certificateId.style.display = '';
    certificate.style.display = '';
    certificateKey.style.display = '';
  } else {
    certificateId.style.display = 'none';
    certificate.style.display = 'none';
    certificateKey.style.display = 'none';
  }
  certificateEmptyValue();
}

// set default pvc values
function pvcDefaultValue() {
  document.getElementById("hub-Spec.PVCClaimSize").value = "20Gi";
  document.getElementById("hub-Spec.PVCStorageClass").value = "none";
  document.getElementById("hub-Spec.ScanType").value = "Artifacts";
  document.getElementById("hub-Spec.NFSServer").value = "";
  document.getElementById("hub-Spec.PVCClaimSize").required = true;
  document.getElementById("hub-Spec.NFSServer").required = true;
}

// set empty pvc values if clone or backup is not supported
function pvcEmptyValue() {
  document.getElementById("hub-Spec.PVCClaimSize").required = false;
  document.getElementById("hub-Spec.NFSServer").required = false;
  document.getElementById("hub-Spec.PVCClaimSize").value = "";
  document.getElementById("hub-Spec.PVCStorageClass").value = "";
  document.getElementById("hub-Spec.ScanType").value = "";
  document.getElementById("hub-Spec.NFSServer").value = "";
}

// check the clone DB and backup support, if both are not required, then ignore the PVC storage parameters
function checkPVC() {
  pvcId=document.getElementById("pvcId")
  if (document.getElementById("hub-Spec.BackupSupport").value == "No" && document.getElementById("hub-Spec.DbPrototype").value == "empty") {
    pvcId.style.display = 'none';
    pvcEmptyValue();
  } else {
    pvcId.style.display = '';
    pvcDefaultValue();
  }
}

// based on the scan type value, populate the default pvc claim size values
function checkScanType() {
  if (document.getElementById("hub-Spec.ScanType").value == "Custom") {
    document.getElementById("hub-Spec.PVCClaimSize").value = "10Gi" 
  } else if (document.getElementById("hub-Spec.ScanType").value == "Images") {
    document.getElementById("hub-Spec.PVCClaimSize").value = "1000Gi" 
  } else {
    document.getElementById("hub-Spec.PVCClaimSize").value = "20Gi" 
  }
}

// add or update environs and update the spec
function validateAndGetValues() {
  var environsList = document.getElementById("environs");
  var environsItems = environsList.getElementsByTagName('li'); 
  var environs = document.getElementById("hub-Spec.Environs")
  for (var i = 0; i < environsItems.length; i++) {
    var data = environsItems[i].firstChild.data;
    var opt = document.createElement('option');
    opt.text = data;
    opt.value = data;
    opt.setAttribute("selected", "selected");
    environs.add(opt);
  };

  var containersList = document.getElementById("containerTags");
  var containerItems = containersList.getElementsByTagName('li'); 
  var containerTags = document.getElementById("hub-Spec.ImageRegistries")
  for (var i = 0; i < containerItems.length; i++) {
    var data = containerItems[i].firstChild.data;
    var opt = document.createElement('option');
    opt.text = data;
    opt.value = data;
    opt.setAttribute("selected", "selected");
    containerTags.add(opt);
  };
}
</script>

<%= form_for(hub, {action: hubsPath(), method: "POST"}) { %>
  <%= partial("hubs/form.html") %>
<% } %>