build
.idea/
.vscode/*
_output/*
cmd/operator-build
cmd/operator/operator
install/secured-registry/dockercfg.json

# .DS_Store
.DS_Store
pkg/.DS_Store
pkg/api/.DS_Store

# synopsysctl
cmd/synopsysctl/synopsysctl
cmd/synopsysctl/*.key

# meta-builder
meta-builder/meta-builder

# ember node modules
**node_modules/
