install/kube/protoform.yaml
install/kube/rbac.yaml
install/openshift/protoform.yaml
.DS_Store
cmd/protoform-bootstrapper/protoform-bootstrapper
_output/protoform-bootstrapper
cmd/hub-installer/hub-installer
