<header class="App-header">
  <img src="<%= rootPath() %>assets/images/logo.png" class="Company-logo" alt="Synopsys" />
  <section class="App-sub-header">
    <section class="Icon-wrap-header">
      <img src="<%= rootPath() %>assets/images/bars.svg" alt="" />
    </section>
    <h4>Synopsys Operator Console</h4>
  </section>
</header>
<br/>

<ul>
  <li><a href="<%= blackducksPath() %>"><h4>Black Duck Instances</h4></a></li>
  <li><a href="<%= rgpsPath() %>"><h4>Reporting and Governance Platform Instances</h4></a></li>
</ul>
