<div class="k-portlet">
  <div class="k-portlet__head">
    <div class="k-portlet__head-label">
      <h3 class="k-portlet__head-title">Introduction</h3>
    </div>
  </div>
  <div class="k-portlet__body">
    <div class="row">
      <div class="col-12 alert" role="alert">
        <div class="alert-text">
          Welcome to Polaris Operator dashboard. Polaris Operator is designed to
          support on-premise deployment of Polaris application. Currently it supports only
          ReportingPlatform deployment.
        </div>
      </div>
    </div>
  </div>
</div>