<body onload="formLoad()" onsubmit="return validateAndGetValues()">
<div class="new-container">
  <%= f.InputTag("Spec.Namespace", {value: blackduck.Spec.Namespace, label: "Namespace *", required: true, placeholder: "Lowercase letters, numbers, and hyphens only. Start with a lowercase letter and do not end with a hyphen", pattern: "^[a-z][-a-z0-9]+", title: "Lowercase letter, numbers, and hyphen only. Start with lowercase letter and cannot start or end with hyphen."}) %>
  <%= f.SelectTag("Spec.Version", {options: blackduck.View.SupportedVersions, value: blackduck.Spec.Version, label: "Black Duck Version"}) %>
  <%= f.InputTag("Spec.LicenseKey", {value: blackduck.Spec.LicenseKey, label: "License Key"}) %>
  <%= if (blackduck.Spec.Namespace!="") { %>
    <%= f.SelectTag("Spec.DesiredState", {options: ["Start", "Stop"], value: blackduck.Spec.DesiredState, label: "Desired State"}) %>
  <% } %>
  <%= f.SelectTag("Spec.Size", {options: ["Small", "Medium", "Large", "X-Large"], value: blackduck.Spec.Size, label: "Size"}) %>
  <%= f.SelectTag("Spec.ExposeService", {options: {"": "","Load Balancer": "LoadBalancer", "Node Port": "NodePort", "Routes for OpenShift": "OpenShift"}, value: blackduck.Spec.ExposeService, label: "Expose Service"}) %>
  <%= f.InputTag("Spec.Type", {value: blackduck.Spec.Type, label: "Blackduck Type (OpsSight specific)"}) %>
  <%= f.CheckboxTag("Spec.LivenessProbes", {value: blackduck.Spec.LivenessProbes, label: "Liveness Probes"}) %>
  <%= f.CheckboxTag("Spec.PersistentStorage", {value: blackduck.Spec.PersistentStorage, label: "Persistent Storage", onchange: "checkPVC()"}) %>
  <%= f.SelectTag("Spec.DbPrototype", {options: blackduck.View.Clones, value: blackduck.Spec.DbPrototype, label: "Clone DB"}) %>
  <div id="pvcId">
    <%= f.SelectTag("Spec.PVCStorageClass", {value: blackduck.Spec.PVCStorageClass, label: "PVC Storage Class", options: blackduck.View.StorageClasses}) %>
    <%= if (blackduck.Spec.Namespace!="" && blackduck.Spec.PersistentStorage==true) { %>
      <%= f.SelectTag("Spec.ScanType", {options: [blackduck.Spec.ScanType], value: blackduck.Spec.ScanType, label: "Scan Type", onchange: "checkScanType()"}) %>
    <% } else { %>
      <%= f.SelectTag("Spec.ScanType", {options: ["Artifacts", "Images", "Custom"], value: blackduck.Spec.ScanType, label: "Scan Type", onchange: "checkScanType()"}) %>
    <% } %>
    <%= for (index, claim) in  blackduck.Spec.PVC { %>
      <%= if (claim.Name=="blackduck-postgres") { %>
        <%= f.HiddenTag("Spec.PVC["+index+"].Name", {value: claim.Name }) %>
        <%= f.InputTag("Spec.PVC["+index+"].Size", {Id: claim.Name, value: claim.Size, label: "Postgres Claim Size", placeholder: "Required for creating the Persistent Volume and Volume Claim", required: true}) %>
      <% } %>
    <% } %>
  </div>
  <%= f.CheckboxTag("externalDbCheckbox", {label: "External Database", onchange: "toggleDbCheckbox(this)"}) %>
  <div id="externalDbId">
    <%= f.InputTag("Spec.ExternalPostgres.PostgresHost", {value: blackduck.Spec.ExternalPostgres.PostgresHost, label: "PostgreSQL Host"}) %>
    <%= f.InputTag("Spec.ExternalPostgres.PostgresPort", {value: blackduck.Spec.ExternalPostgres.PostgresPort, label: "PostgreSQL Port"}) %>
    <%= f.InputTag("Spec.ExternalPostgres.PostgresAdmin", {value: blackduck.Spec.ExternalPostgres.PostgresAdmin, label: "PostgreSQL Admin User", placeholder: "blackduck"}) %>
    <%= f.InputTag("Spec.ExternalPostgres.PostgresAdminPassword", {value: blackduck.Spec.ExternalPostgres.PostgresAdminPassword, label: "PostgreSQL Admin Password"}) %>
    <%= f.InputTag("Spec.ExternalPostgres.PostgresUser", {value: blackduck.Spec.ExternalPostgres.PostgresUser, label: "PostgreSQL User", placeholder: "blackduck_user"}) %>
    <%= f.InputTag("Spec.ExternalPostgres.PostgresUserPassword", {value: blackduck.Spec.ExternalPostgres.PostgresUserPassword, label: "PostgreSQL User Password"}) %>
    <%= f.CheckboxTag("Spec.ExternalPostgres.PostgresSsl", {value: blackduck.Spec.ExternalPostgres.PostgresSsl, label: "Enable SSL"}) %>
  </div>
  <%= f.SelectTag("Spec.CertificateName", {value: blackduck.Spec.CertificateName, options: blackduck.View.CertificateNames, label: "Certificate Name", onchange: "checkNginxCertificate()"}) %>
  <div id="certificateId">
    <%= f.TextAreaTag("Spec.Certificate", {value: blackduck.Spec.Certificate, label: "Certificate"}) %>
    <%= f.TextAreaTag("Spec.CertificateKey", {value: blackduck.Spec.CertificateKey, label: "Certificate Key"}) %>
  </div>
  <%= f.CheckboxTag("customAuthCACheckbox", {label: "Custom CA for certificate authentication", onchange: "toggleCustomAuthCACheckbox(this)"}) %>
  <div id="customAuthCAId">
    <%= f.TextAreaTag("Spec.AuthCustomCA", {value: blackduck.Spec.AuthCustomCA, label: "Authentication Certificate Authority (PEM)"}) %>
  </div>
  <%= f.TextAreaTag("Spec.ProxyCertificate", {value: blackduck.Spec.ProxyCertificate, label: "Proxy Root Certificate"}) %>
  <label>Container Image Tags</label>
  <ul id="containerTags" name="containerTags" contenteditable="true">
      <li value=""></li>
    <%= for (containerTag) in  blackduck.View.ContainerTags { %>
    <li value="<%= containerTag %>"><%= containerTag %></li>
    <% } %>
  </ul>
  <label>Environment Variables</label>
  <ul id="environs" name="environs" contenteditable="true">
    <%= for (environ) in  blackduck.View.Environs { %>
    <li value="<%= environ %>"><%= environ %></li>
    <% } %>
  </ul>
  <select id="blackduck-Spec.Environs" name="Spec.Environs" multiple="multiple" hidden></select>
  <select id="blackduck-Spec.ImageRegistries" name="Spec.ImageRegistries" multiple="multiple" hidden></select>
  <center>
    <a href="<%= blackducksPath() %>" class="btn btn-info">Cancel</a>
    <button class="btn btn-success" role="submit">Submit</button>
    <a href="" class="btn btn-warning" data-confirm="Are you sure?">Clear</a>
  </center>
  <br/>
  <br/>
</div>
</body>

<style>
  ul {
    position: relative;
    /* outline: 0; */
    border:1px solid #ced4da;
  }

  ul li {
    position: relative;
    padding: 10px 5px 5px 30px;
    background: transparent;
    box-shadow: 0 0px #EEE;
  }

  ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 100%;
    background: #fff;
    display: block;
  }

  ul li:hover {
    background: #FAFAFA;
  }
</style>

<script>
  // check during form load
  function formLoad() {
    editableFalse();
    checkNginxCertificate();
    loadPVC();
    document.getElementById("externalDbId").style.display= 'none';
    document.getElementById("customAuthCAId").style.display= 'none';
    // if (document.getElementById("blackduck-Status.ErrorMessage").value.length > 0) {
    //   document.getElementById("blackduck-Status.ErrorMessage").hidden = false;
    // }
  }

  function editableFalse() {
    if (document.getElementById("blackduck-Spec.Namespace") != null && document.getElementById("blackduck-Spec.Namespace").value != "") {
      document.getElementById("blackduck-Spec.Namespace").setAttribute("readonly", "readonly")
      document.getElementById("blackduck-Spec.DbPrototype").setAttribute("readonly", "readonly")
      if (document.getElementById("blackduck-Spec.PersistentStorage").checked == true) {
        document.getElementById("blackduck-Spec.PersistentStorage").setAttribute("readonly", "readonly")
        document.getElementById("blackduck-Spec.PVCStorageClass").setAttribute("readonly", "readonly")
        document.getElementById("blackduck-Spec.ScanType").setAttribute("readonly", "readonly")
        if (document.getElementById("blackduck-postgres") != null) {
          document.getElementById("blackduck-postgres").setAttribute("readonly", "readonly")
        }
      }
    }
  }

  // set empty certificate values if the certificate is not manual
  function certificateEmptyValue() {
    document.getElementById("blackduck-Spec.Certificate").value = "";
    document.getElementById("blackduck-Spec.CertificateKey").value = "";
  }

  // check the nginx certificate name, if manual display certificate and certificate key
  function checkNginxCertificate(){
    certificateId=document.getElementById("certificateId");
    certificate=document.getElementById("blackduck-Spec.Certificate");
    certificateKey=document.getElementById("blackduck-Spec.CertificateKey");
    if (document.getElementById("blackduck-Spec.CertificateName").value == "manual") {
      certificateId.style.display = '';
      certificate.style.display = '';
      certificateKey.style.display = '';
    } else {
      certificateId.style.display = 'none';
      certificate.style.display = 'none';
      certificateKey.style.display = 'none';
    }
    certificateEmptyValue();
  }

  // set default pvc values
  function pvcDefaultValue() {
    document.getElementById("blackduck-Spec.PVCStorageClass").value = "";
    document.getElementById("blackduck-Spec.ScanType").value = "Artifacts";
  }

  // set empty pvc values if clone or backup is not supported
  function pvcEmptyValue() {
    document.getElementById("blackduck-Spec.PVCStorageClass").value = "";
    document.getElementById("blackduck-Spec.ScanType").value = "";
  }

  // load the clone DB and backup support, if both are not required, then ignore the PVC storage parameters
  function loadPVC() {
    pvcId=document.getElementById("pvcId")
    if (document.getElementById("blackduck-Spec.PersistentStorage").checked == true) {
      pvcId.style.display = '';
    } else {
      pvcId.style.display = 'none';
    }
  }

  // check the clone DB and backup support, if both are not required, then ignore the PVC storage parameters
  function checkPVC() {
    pvcId=document.getElementById("pvcId")
    if (document.getElementById("blackduck-Spec.PersistentStorage").checked == true) {
      pvcId.style.display = '';
      pvcDefaultValue();
    } else {
      pvcId.style.display = 'none';
      pvcEmptyValue();
    }
  }

  // based on the scan type value, populate the default pvc claim size values
  function checkScanType() {
    if (document.getElementById("blackduck-Spec.ScanType").value == "Custom") {
      document.getElementById("blackduck-postgres").value = "150Gi"
    } else if (document.getElementById("blackduck-Spec.ScanType").value == "Images") {
      document.getElementById("blackduck-postgres").value = "1000Gi"
    } else {
      document.getElementById("blackduck-postgres").value = "150Gi"
    }
  }

  // add or update environs and update the spec
  function validateAndGetValues() {
    var environsList = document.getElementById("environs");
    var environsItems = environsList.getElementsByTagName('li');
    var environs = document.getElementById("blackduck-Spec.Environs")
    for (var i = 0; i < environsItems.length; i++) {
      var data = environsItems[i].firstChild.data;
      var opt = document.createElement('option');
      opt.text = data;
      opt.value = data;
      opt.setAttribute("selected", "selected");
      environs.add(opt);
    };

    var containersList = document.getElementById("containerTags");
    var containerItems = containersList.getElementsByTagName('li');
    var containerTags = document.getElementById("blackduck-Spec.ImageRegistries")
    for (var i = 0; i < containerItems.length; i++) {
      var data = containerItems[i].firstChild.data;
      var opt = document.createElement('option');
      opt.text = data;
      opt.value = data;
      opt.setAttribute("selected", "selected");
      containerTags.add(opt);
    };
  }

  function toggleDbCheckbox(element) {
    externalDbId=document.getElementById("externalDbId");
    if (element.checked) {
      externalDbId.style.display = '';
    } else {
      externalDbId.style.display = 'none';
    }
  }

  function toggleCustomAuthCACheckbox(element) {
    externalDbId=document.getElementById("customAuthCAId");
    if (element.checked) {
      externalDbId.style.display = '';
    } else {
      externalDbId.style.display = 'none';
    }
  }
</script>
