<header class="App-header">
  <img src="<%= rootPath() %>assets/images/logo.png" class="Company-logo" alt="Synopsys" />
  <section class="App-sub-header">
    <section class="Icon-wrap-header">
      <img src="<%= rootPath() %>assets/images/bars.svg" alt="" />
    </section>
    <h4>Black Duck Instances</h4>
  </section>
</header>
<br/>
<div class="list-container">
  <ul class="list-unstyled list-inline">
    <li class="list-inline-item"><a href="<%= rootPath() %>" class="btn btn-info">Home</a></li>
    <li class="list-inline-item"><a href="<%= newBlackducksPath() %>" class="btn btn-primary">Create</a></li>
  </ul>
  <table class="table table-striped">
    <thead class="list-header-container">
      <th>Name</th>
      <th>Namespace</th>
      <th>Size</th>
      <th>Black Duck Version</th>
      <th>Black Duck Type</th>
      <th>Clone Database</th>
      <th>PVC Storage</th>
      <th>Certificate Name</th>
      <th>Status</th>
      <th>IP Address</th>
      <th colspan="3">Error Message</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
      <%= if (len(blackducks) > 0) { %>
        <%= for (blackduck) in blackducks { %>
          <tr>
            <td><%= blackduck.Name %></td>
            <td><%= blackduck.Spec.Namespace %></td>
            <td><%= blackduck.Spec.Size %></td>
            <td><%= blackduck.Spec.Version %></td>
            <td><%= blackduck.Spec.Type %></td>
            <td><%= blackduck.Spec.DbPrototype %></td>
            <%= if (blackduck.Spec.PersistentStorage) { %>
              <td><%= blackduck.Spec.PersistentStorage %>-<%= blackduck.Spec.PVCStorageClass %>-<%= blackduck.Spec.ScanType %></td>
            <% } else { %>
              <td><%= blackduck.Spec.PersistentStorage %></td>
            <% } %>
            <td><%= blackduck.Spec.CertificateName %></td>
            <td><%= blackduck.Status.State %></td>
            <td><a href="https://<%= blackduck.Status.IP %>" target="_blank"><%= blackduck.Status.IP %></a></td>
            <td colspan="3"><%= blackduck.Status.ErrorMessage %></td>
            <td><a href="<%= blackduckPath({ blackduck_id: blackduck.Spec.Namespace+":"+blackduck.Name }) %>" class="btn btn-info">View</a></td>
            <td><a href="<%= editBlackduckPath({ blackduck_id: blackduck.Spec.Namespace+":"+blackduck.Name })%>" class="btn btn-warning">Edit</a></td>
            <td>
              <form action="<%= blackduckStatePath({ blackduck_id: blackduck.Spec.Namespace+":"+blackduck.Name }) %>" method="post">
                <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
                <%= if (capitalize(blackduck.Spec.DesiredState) ==  "START") { %>
                  <input type="hidden" id="state" name="state" value="STOP">
                  <button name="submit" value="submit" class="btn btn-danger">Stop</button>
                <% } else if (len(blackduck.Spec.DesiredState) == 0 ) { %>
                  <input type="hidden" id="state" name="state" value="STOP">
                  <button name="submit" value="submit" class="btn btn-danger" disabled>Stop</button>
                <% } else { %>
                  <input type="hidden" id="state" name="state" value="START">
                  <button name="submit" value="submit" class="btn btn-success">Start</button>
                <% } %>
              </form>
            </td>
            <td><a href="<%= blackduckPath({ blackduck_id: blackduck.Spec.Namespace+":"+blackduck.Name }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Delete</a></td>
          </tr>
        <% } %>
      <% } else { %>
        <tr>
          <td colspan="17"><center><h5>No Black Duck instances found</h5></center></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <br />
  <br />
</div>
