<header class="App-header">
  <img src="<%= rootPath() %>assets/images/logo.png" class="Company-logo" alt="Synopsys" />
  <section class="App-sub-header">
    <section class="Icon-wrap-header">
      <img src="<%= rootPath() %>assets/images/bars.svg" alt="" />
    </section>
    <h4>View Black Duck Instance</h4>
  </section>
</header>
<br/>

<div class="list-container">
  <div class="page-header">
    <h1><%= blackduck.Spec.Namespace %></h1>
  </div>

  <table class="Detail-table">
    <tbody>
      <tr>
        <td>
          <h5>Namespace</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Spec.Namespace %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Size</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Spec.Size %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Black Duck Version</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Spec.Version %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Black Duck Type</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Spec.Type %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Clone Database</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Spec.DbPrototype %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Persistent Storage</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Spec.PersistentStorage %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h5>PVC Storage Class</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Spec.PVCStorageClass %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Scan Type</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Spec.ScanType %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Nginx Certificate Name</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Spec.CertificateName %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Liveness Probes</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Spec.LivenessProbes %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h5>IP</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <a href="https://<%= blackduck.Status.IP %>" target="_blank"><%= blackduck.Status.IP %></a>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Status</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Status.State %></h6>
        </td>
      </tr>
      <tr>
        <td>
          <h5>Error Message</h5>
        </td>
        <td>&nbsp;</td>
        <td><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <h6><%= blackduck.Status.ErrorMessage %></h6>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:top">
          <h5>Environment Variables</h5>
        </td>
        <td>&nbsp;</td>
        <td style="vertical-align:top"><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <%= for (environ) in  blackduck.Spec.Environs { %>
            <h6><%= environ %></h6>
          <% } %>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:top">
          <h5>Image Registries</h5>
        </td>
        <td>&nbsp;</td>
        <td style="vertical-align:top"><h6>:</h6></td>
        <td>&nbsp;</td>
        <td>
          <%= for (imageRegistry) in  blackduck.Spec.ImageRegistries { %>
            <h6><%= imageRegistry %></h6>
          <% } %>
        </td>
      </tr>
    </tbody>
  </table>
  <br/>
  <ul class="list-unstyled list-inline">
    <li class="list-inline-item"><a href="<%= blackducksPath() %>" class="btn btn-info">Close</a></li>
    <li class="list-inline-item"><a href="<%= editBlackduckPath({ blackduck_id: blackduck.Spec.Namespace })%>" class="btn btn-warning">Edit</a></li>
    <li class="list-inline-item"><a href="<%= blackduckPath({ blackduck_id: blackduck.Spec.Namespace })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Delete</a>
  </ul>
</div>
