<h2 class="mt-4" id="heading">Deploy (or) Upgrade Operator</h2><br><br>

<a href="#deploy_operator">Deploy Operator</a><br>
<a href="#upgrade_operator">Upgrade Operator</a><br>


<br><br>

<h5 id="deploy_operator"><a href="#deploy_operator">Deploy Operator</a></h5>

<p>Navigate to <b>Operator</b> tab,</p>

<img src="/assets/images/operator/nav.png" class="operator-nav" alt=""><br><br>

<p>Enter Operator version to be deployed and GoogleContainerRegistry authentication token(JSON token gathered from prerequisites). Click on Deploy.</p>

<img src="/assets/images/operator/install.png" class="operator-install" alt="">

<br><br>

<h5 id="upgrade_operator"><a href="#upgrade_operator">Upgrade Operator</a></h5>

<p>Navigate to <b>Operator</b> tab,</p>

<img src="/assets/images/operator/nav.png" class="operator-nav" alt=""><br><br>

<p>Enter Operator version to which you would like to upgrade to and click on Upgrade.</p>

<img src="/assets/images/operator/upgrade.png" class="operator-upgrade" alt=""><br><br>

<p>Note: If you are not sure about the version, leave the pre-populated version as it as which is considered to be latest release version.</p>

<h7>You have successfully deployed Operator ! Proceed for application deployment.</h7>