<h2 class="mt-4" id="heading-1">Home</h2><br>

<p>Synopsys Operator is designed to support On-Premises application deployment.</p>
<p>Supported Applications:</p>
<ul>
  <li>Reporting Platform deployment</li>
  <li>Black Duck deployment</li>
</ul>

<p>Synopsys Operator has two components:</p>
<ol>
  <li><b>Synopsys Operator</b> - An Operator that deploys Synopsys applications based on a Custom Resource request</li>
  <li><b>Synopsysctl</b> - A commandline tool that allows users to interact with the Operator to install, upgrade, and
    deploy Synospys applications</li>
</ol>