<h1 class="mt-4" id="heading">Introduction</h1>
<p>Polaris Operator is designed to support Polaris application deployment on various platforms. Currently it supports only ReportingPlatform deployment.</p>

<p>Polaris Operator has two components.</p>

<p>1. <b>Polaris Operator</b> - Operator that monitors api server for CustomResource requests to deploy Polaris</p>
<p>2. <b>Polaris Operator UI</b> - A flask application that helps the user to install, configure and manage Polaris application</p>