<h1 class="mt-4" id="heading">Introduction</h1>
<p>Synopsys Operator is designed to support application deployment on various platforms. Currently it supports only ReportingPlatform deployment.</p>

<p>Synopsys Operator has two components.</p>

<p>1. <b>Synopsys Operator</b> - Operator that monitors api server for CustomResource requests to deploy Synopsys resources</p>
<p>2. <b>Synopsysctl</b> - A commandline tool that allows users to interact with Synopsys Operator to manage their resources</p>