<h3 class="mt-4" id="heading">Overview</h3>

<p>Polaris Operator is designed to support Polaris application deployment on various platforms. Currently it supports only ReportingPlatform deployment.</p>

<p>Polaris operator has two components.</p>

<p>1. <b>Polaris Operator</b> - Operator is responsible for deploying Polaris based on CustomResource request</p>
<p>2. <b>Polaris Operator UI</b> - UI application that helps to deploy or upgrade Polaris application</p>