<h2 class="mt-4" id="heading">Prerequisites</h2><br><br>

<ul class="index-ul">
  <li><a href="#kubernetes_cluster">Kubernetes Cluster</a><br></li>
  <li><a href="#postgresql">PostgreSQL Instance</a><br></li>
  <li><a href="#docker_hub_access">Access to private repos on Docker Hub</a><br></li>
  <li><a href="#gcr_access">Access to GoogleContainerRegistry(GCR)</a><br></li>
</ul>

<br><br>

<h5 id="kubernetes_cluster"><a href="#kubernetes_cluster">Kubernetes Cluster</a></h5>
<p>Polaris is designed to run on Kubernetes platform.</p>
<p>You require a cluster with at least 1 manager and 3 worker nodes that meet the following minimum requirements:</p>

<b>Memory :</b> 20 GB <br>
<b>CPU :</b> 18 CPUs <br>
<b>Disk Space :</b> 400 GB <br>

<br><br>

<h5 id="postgresql"><a href="#postgresql">PostgreSQL Instance</a></h5>
<p>Polaris requires a PostgreSQL instance.</p>
<p>Synopsys recommends the following configuration for PostgreSQL:</p>

<b>Memory :</b> 8 GB <br>
<b>CPU :</b> 4 CPUs <br>
<b>Disk Space :</b> 200 GB <br>

<br><br>

<h5 id="docker_hub_access"><a href="#docker_hub_access">Docker hub access</a></h5>
<p>Request access to pull the operator-ui image from docker hub.</p>
<p>Sign up for docker hub and request access to the operator private repository by providing your username to either
  of the following contacts.</p>
<ul>
  <li>Aditya Byreddy (abyreddy@synopsys.com)</li>
  <li>Viral H Chande (vchande@synopsys.com)</li>
</ul>

<br><br>

<h5 id="gcr_access"><a href="#gcr_access">Polaris's Private Docker registry access</a></h5>
<p>Request access for Polaris's private docker registry.</p>
<ul>
  <li>Aditya Byreddy (abyreddy@synopsys.com)</li>
  <li>Viral H Chande (vchande@synopsys.com)</li>
</ul>

<br><br>