/* Application header */
header.App-header {
    position: relative;
    height: 130px;
    background-color: #2d343e;
}
  
header.App-header > img.Company-logo {
    position: absolute;
    width: 100px;
    height: 28px;
    top: 13px;
    left: 31px;
}
  
section.App-sub-header {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
}
  
section.App-sub-header > h3 {
    position: absolute;
    top: 20px;
    left: 100px;
}
  
section.Icon-wrap-header {
    position: absolute;
    width: 60px;
    height: 50px;
    top: 14px;
    left: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
}
  
section.Icon-wrap-header > img {
    width: 38px;
    height: 24px;
    margin: 13px 11px;
}

