/* DOM globals */

* {
	font-family: "Open Sans" !important;
  }
  
  
  /* Application header */
  
  header.App-header {
	position: relative;
	height: 130px;
	background-color: #2d343e;
  }
  
  header.App-header>img.Company-logo {
	position: absolute;
	width: 100px;
	height: 28px;
	top: 13px;
	left: 31px;
  }
  
  section.App-sub-header {
	position: absolute;
	left: 0%;
	width: 100%;
	height: 80px;
	bottom: 0;
	background-color: #fafafa;
	border-bottom: 1px solid #ddd;
  }
  
  section.App-sub-header>h4 {
	position: absolute;
	top: 20px;
	left: 100px;
  }
  
  section.Icon-wrap-header {
	position: absolute;
	width: 60px;
	height: 50px;
	top: 14px;
	left: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
  }
  
  section.Icon-wrap-header>img {
	width: 38px;
	height: 24px;
	margin: 13px 11px;
  }
  
  .container {
	position: absolute;
	min-width: 320px;
	}
	
	.list-container {
	width: 90%;
  height: 90%;
	position: absolute; 
	left: 5%;
	}
	.list-header-container {
	border-style: solid; 
	border-color: lightgray; 
	border-width: 1px 1px 1px 1px;
	}
	
	.new-container {
	width: 50%;
  height: 50%;
	position: absolute; 
	left: 5%;
	}
  
  /* Index - Add Hub */
  
  section.Add-hub-container {
	width: 300px;
	height: 300px;
	margin: 150px auto auto;
	text-align: center;
  }
  
  section.Add-hub-container>img {
	width: 106px;
	height: 67px;
	margin: 0 auto 20px;
  }
  
  section.Add-hub-container>p {
	margin: 0 auto 30px;
  }
  
  
  /* Console table */
  
  section.Console-add-hub {
	position: relative;
	height: 80px;
	margin-bottom: 25px;
  }
  
  section.Console-add-hub>button {
	position: absolute;
	bottom: 10px;
  }
  
  table.Console-table {
	position: relative;
  }
  
  table.Console-table thead td:first-child {
	padding-left: 30px;
  }
  
  table.Console-table tbody td:first-child {
	padding-left: 30px;
	font-weight: 700;
  }
  
  table.Console-table>thead,
  table.Detail-table>thead {
	background-color: #fafafa;
	border: 1px solid #ddd;
  }
  
  table.Console-table>tbody {
	border-width: 0 1px 1px;
	border-color: #ddd;
	border-style: solid;
  }
  
  table.Console-table>tbody td {
	vertical-align: middle;
	padding: 6px;
  }
  
  table.Console-table td.Console-row-link {
	color: #285f8f;
	cursor: pointer;
  }
  
  table.Console-table .Detail-panel {
	position: absolute;
	border: 1px solid #ddd;
  }
  
  
  /* Console table style changes with detail panel open */
  
  table.Console-table.Detail-panel-active {
	display: grid;
	width: calc(33vw - 8px);
	max-height: calc(100vh - 295px);
  }
  
  table.Console-table.Detail-panel-active>thead {
	border-bottom: none;
  }
  
  table.Console-table.Detail-panel-active thead tr {
	display: flex;
  }
  
  table.Console-table.Detail-panel-active thead tr td:first-child {
	padding-left: 30px;
  }
  
  table.Console-table.Detail-panel-active thead tr td:nth-child(n + 2) {
	padding-left: 15px;
  }
  
  table.Console-table.Detail-panel-active td:nth-child(even) {
	width: 23.5%;
  }
  
  table.Console-table.Detail-panel-active td:nth-child(odd) {
	width: 40%;
  }
  
  table.Console-table.Detail-panel-active>tbody {
	max-height: calc(100vh - 295px);
	overflow-y: auto;
  }
  
  table.Console-table.Detail-panel-active td:nth-child(n+4) {
	display: none;
  }
  
  
  /* Console detail - relative to section.App-sub-view */
  
  section.Detail-panel-overlay {
	position: absolute;
	width: calc(66vw - 30px);
	top: 105px;
	right: 0;
	border: 1px solid #ccc;
	background-color: #fff;
  }
  
  section.Detail-panel-overlay div.modal-header {
	padding: 10px 30px;
  }
  
  section.Detail-panel-overlay div.modal-header>svg {
	margin-right: 10px;
	font-size: 13px;
  }
  
  table.Detail-panel-header {
	margin-bottom: 0;
	margin-top: 20px;
  }
  
  table.Detail-panel-header td {
	padding: 2px !important;
  }
  
  table.Detail-panel-header>thead {
	font-size: 11px;
  }
  
  table.Detail-panel-header>tbody td {
	border-top: none !important;
  }
  
  section.Detail-panel {
	max-height: calc(100vh - 369px);
	padding: 30px;
	overflow-y: auto;
  }
  
  section.Detail-panel div.panel {
	border: none !important;
  }
  
  section.Detail-panel div.panel.border {
	border: 1px solid #ddd !important;
  }
  
  section.Detail-panel div.panel-heading {
	background: none;
	border: none;
  }
  
  section.Detail-panel div.panel-heading a {
	color: #000 !important;
	font-weight: 700;
	text-decoration: none;
  }
  
  section.Detail-panel div.panel-heading svg {
	margin-right: 5px;
  }
  
  section.Detail-panel table.Detail-table>thead>tr td {
	border-bottom: none !important;
  }
  
  header {
	background-color: #62a5ee;
	padding: 10px 20px;
	box-sizing: border-box;
  }
  
  .logo img {
	width: 80px;
  }
  
  .titles h1 {
	font-size: 30px;
	font-weight: 300;
	color: white;
	margin-bottom: 13px;
	margin-top: 5px;
  }
  
  .titles h2 {
	font-weight: 300;
	font-size: 18px;
	display: inline-block;
	margin: 0;
  }
  
  .titles a {
	color: white;
	text-decoration: underline;
  }
  
  .titles i {
	margin-right: 5px;
	text-decoration: none;
  }
  
  .titles .documentation {
	margin-left: 28px;
  }
  
  .subtitle {
	color: white;
	margin: 0;
	padding: 13px 0;
	background-color: #2a3543;
	margin-bottom: 20px;
  }
  
  .subtitle h3 {
	font-size: 22px;
	font-weight: 400;
	margin: 0;
  }
  
  table {
	font-size: 14px;
  }
  
  table.table tbody tr td {
	border-top: 0;
	padding: 10px;
  }
  
  .foot {
	text-align: right;
	color: #c5c5c5;
	font-weight: 300;
  }
  
  .foot a {
	color: #8b8b8b;
	text-decoration: underline;
  }
  
  .centered {
	text-align: center;
  }
  
  @media all and (max-width: 770px) {
	.titles h1 {
	  font-size: 25px;
	  margin: 15px 0 5px 0;
	}
  }
  
  @media all and (max-width: 640px) {
	.titles h1 {
	  font-size: 23px;
	  margin: 15px 0 5px 0;
	}
	.titles h2 {
	  font-size: 15px;
	}
	.titles .documentation {
	  margin-left: 10px;
	}
  }
  
  @media all and (max-width: 530px) {
	.titles h1 {
	  font-size: 20px;
	  margin: 5px 0;
	}
	.logo {
	  padding: 0
	}
	.logo img {
	  width: 100%
	}
	.titles .documentation {
	  margin-left: 0px;
	  margin-top: 5px;
	  display: block;
	}
  }