<div class="k-header__brand   k-grid__item" id="k_header_brand">
  <div class="k-header__brand-logo">
    <a href="/">
      <img src="/assets/images/snps-logo-sts-white-grey.png" width="100" alt="">
    </a>
  </div>
  <h1 class="k-header__brand-title">
    Polaris Reporting Operator
  </h1>
</div>