<div id="k_header_mobile" class="k-header-mobile  k-header-mobile--fixed ">
  <div class="k-header-mobile__logo">
    <a href="/">
      <img src="/assets/images/snps-logo-sts-white-grey.png" width="100" alt="">
    </a>
  </div>
  <div class="k-header-mobile__toolbar">
    <button class="k-header-mobile__toolbar-toggler" id="k_header_mobile_toggler"><span></span></button>
    <button class="k-header-mobile__toolbar-topbar-toggler" id="k_header_mobile_topbar_toggler">
      <i class="flaticon-more-1"></i>
    </button>
  </div>
</div>