<header class="App-header">
   <img src="<%= rootPath() %>assets/images/logo.png" class="Company-logo" alt="Synopsys" />
   <section class="App-sub-header">
      <section class="Icon-wrap-header">
         <img src="<%= rootPath() %>assets/images/bars.svg" alt="" />
      </section>
      <h4>Edit a Reporting and Governance Platform instance</h4>
   </section>
</header>
<br/>
<%= form_for(rgp, {action: rgpPath({ rgp_id: rgp.Spec.Namespace }), method: "POST"}) { %>
  <%= partial("rgps/form.html") %>
<% } %>